@{
	ViewBag.PageTitle = "My Settings";
	Layout = "_CustomerLayout";
}
@section CustomCss
{
<link rel="stylesheet" href="~/css/customerServiceHistory.css">
}
<div class="w-100">
	<div class="nav" id="settingsTabs" role="tablist">
		<div id="detailsTabBtn" class="col-4 settingsTab active" data-bs-toggle="tab" data-bs-target="#details"
			role="tab" aria-selected="false" aria-controls="details">
			<div class="fw-bold d-none d-md-block">My Details</div>
			<img src="~/images/my-account-details.png" class="d-block d-md-none">
		</div>
		<div id="addressesTabBtn" class="col-4 settingsTab" data-bs-toggle="tab" data-bs-target="#addresses" role="tab"
			aria-selected="false" aria-controls="addresses">
			<div class="fw-bold d-none d-md-block">My Addresses</div>
			<img src="~/images/my-account-address.png" class="d-block d-md-none">
		</div>
		<div id="changePasswordTabBtn" class="col-4 settingsTab" data-bs-toggle="tab" data-bs-target="#password"
			role="tab" aria-selected="false" aria-controls="password">
			<div class="fw-bold d-none d-md-block">Change Password</div>
			<img src="~/images/my-account-password.png" class="d-block d-md-none">
		</div>
	</div>
	<div class="tab-content" id="settingsTabsContent">
		<div role="tabpanel" aria-labelledby="detailsTabBtn" id="details" class="tab-pane fade show active">Details
		</div>
		<div role="tabpanel" aria-labelledby="addressesTabBtn" id="addresses" class="tab-pane fade">Addresses</div>
		<div role="tabpanel" aria-labelledby="changePasswordTabBtn" id="password" class="tab-pane fade">Password</div>
	</div>
</div>