.bookServicesHeader {
	font-size: 36px;
	margin: 39px 0px 9px 0px;
	font-weight: 700;
	color: #4f4f4f;
}

.bookServicesHeaderDecoration span {
	width: 62px;
	height: 1px;
	margin: 0 8px;
	background: #cccccc;
}

.bookServicesHeaderDecoration {
	margin-bottom: 52px;
}

.nav {
	margin-bottom: 30px;
}

.nav > button {
	background: #f3f3f3;
	color: #646464;
	font-size: 18px;
	transition: background 0.25s, color 0.25s;
	text-align: center;
	max-height: 100px;
}

.nav > button img {
	height: 32px;
	width: 32px;
	object-fit: none;
	object-position: 0 0;
}

.nav > button.active img,
.nav > button.completed img {
	object-position: 0 -32px;
}

.nav > button.active,
.nav > button.completed {
	background: #1d7a8c;
	color: #fff;
}

.nav > button.active::before {
	content: "";
	height: 0;
	width: 0;
	border: 14px solid transparent;
	border-top-color: #1d7a8c;
	position: absolute;
	bottom: -27px;
}

label {
	color: #4f4f4f;
	font-weight: bold;
	margin-bottom: 10px;
}

.form-control,
.form-select {
	resize: none;
	color: #646464;
	font-size: 16px;
	height: 46px;
}

.form-control:focus,
.form-select:focus,
.form-check .form-check-input:focus {
	color: #646464;
	border: 1.3px solid #1d7a8c;
	box-shadow: none;
}

.checkAvailabilityBtn,
.continueBtn {
	border: 0;
	outline: none;
	background: #1d7a8c;
	color: #fff;
	font-size: 16px;
	transition: background 0.35s;
	padding-top: 11px;
	padding-bottom: 11px;
	max-height: 46px;
	float: right;
}

.continueBtn {
	font-weight: bold;
	font-size: 20px;
	padding: 15px 34px;
	max-height: fit-content;
}

.checkAvailabilityBtn:hover,
.continueBtn:hover,
.save:hover {
	background: #146371;
}

.addNewAddressBtn {
	display: none;
	font-weight: bold;
	background: #fff;
	border: 1px solid #1d7a8c;
	color: #1d7a8c;
	transition: color 0.3s, background 0.3s;
	padding: 10px 15px;
}

.addNewAddressBtn.collapsed {
	display: block;
}

.addNewAddressBtn:hover {
	background: #1d7a8c;
	color: #fff;
}

.save,
.cancel {
	background: #1d7a8c;
	border: none;
	font-size: 16px;
	color: #fff;
	transition: background 0.3s, color 0.3s;
	padding: 11px 25px;
}

.cancel {
	border: 1px solid #c6c6c6;
	color: #666;
	background: transparent;
}

.cancel:hover {
	border-color: var(--bs-danger);
	background: var(--bs-danger);
	color: #fff;
}

.extraServiceName {
	font-weight: normal;
	font-size: 16px;
}

.form-check .form-check-label {
	font-size: 14px;
	color: #4f4f4f;
	font-weight: normal;
	cursor: pointer;
}

.form-check .form-check-input {
	cursor: pointer;
}

.form-check .form-check-input:checked {
	background-color: #1d7a8c;
	border: 1px solid #1d7a8c;
}

hr {
	height: 0 !important;
	border-top: 1px solid #dcdcdc;
	margin: 30px 0;
	background: #fff;
}

.imgDiv {
	margin: auto;
	height: 108px;
	width: 108px;
	border: 1px solid #c8c8c8;
	margin-bottom: 8px;
}

.extraServiceLabel {
	cursor: pointer;
}

.addressLabel {
	cursor: pointer;
	border: 1px solid #c8c8c8;
	border-radius: 3px;
	column-gap: 15px;
}

#newAddressFormCollapse {
	padding: 15px;
	border: 1px solid #c8c8c8;
	border-radius: 3px;
	margin-bottom: 20px;
	background: #f8f8f8;
}

input[type="checkbox"]:checked + label .imgDiv {
	border: 3px solid #1d7a8c;
}

input[type="checkbox"]:checked + label .imgDiv svg path {
	fill: #1d7a8c;
}

#bookServiceSubmitViewModel_ServiceDate {
	padding-left: 40px;
	cursor: pointer;
	background: #fff;
}

.datePicker::before {
	content: "";
	pointer-events: none;
	height: 20px;
	width: 20px;
	background: url("../images/book-service-calendar.png") center center;
	background-size: contain;
	position: absolute;
	top: 12px;
	left: 12px;
}

.summaryContainer {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.summaryContainerToggleButton {
	outline: none !important;
}

.summaryContainerRow {
	height: fit-content;
	top: 75px;
}

.summaryTitle {
	background: #1d7a8c;
	color: #fff;
	font-size: 18px;
	padding: 22px 20px;
}

.summaryContent,
.totalPaymentContainer {
	padding: 20px;
}

.summaryContent hr {
	border: 0;
	border-top: 1px solid #e1e1e1;
	height: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

.serviceDateAndTimeSummary,
.serviceIndividualTime,
.totalServiceTime {
	font-size: 16px;
	line-height: 26px;
	color: #4f4f4f;
}

.summaryHeader {
	font-size: 18px;
	line-height: 26px;
	color: #646464;
}

.totalPayment span {
	font-size: 20px;
	line-height: 24px;
	color: #1d7a8c;
}
.totalPayment div {
	font-size: 32px;
	line-height: 36px;
	color: #1d7a8c;
}

.summaryFooter {
	background: #f3f3f3;
	font-size: 14px;
	line-height: 21px;
	padding: 12px 20px;
}

.summmaryFooterText {
	color: #8d8d8d;
	margin-left: 8px;
	cursor: pointer;
}

#includedServices .modal-dialog {
	max-width: 900px;
}

#includedServices .modal-content {
	padding: 25px;
}

#includedServices .modal-header {
	font-size: 18px;
	line-height: 22px;
	color: #4f4f4f;
	margin-bottom: 10px;
}

#includedServices .includedServicesHeader {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	color: #4f4f4f;
	margin: 0 0 10px;
}
#includedServices .bulletPoint {
	font-size: 16px;
	line-height: 20px;
	color: #4f4f4f;
	padding: 8px 0;
}
#includedServices .bulletPoint img {
	margin-right: 7px;
	height: 25px;
	width: 25px;
}

.paymentFaqsHeader {
	text-align: center;
	margin: 0 0 10px;
	font-size: 20px;
	line-height: 24px;
	color: #4f4f4f;
}

.accordion-btn {
	font-size: 14px;
	color: #4f4f4f;
	font-weight: 400;
	transition: all 0.3s ease;
	padding: 14px 0;
	display: block;
	border-bottom: 1px solid #e1e1e1;
	transition: opacity 0.3s;
}

.accordion-btn:hover {
	opacity: 0.7;
}

.accordion-btn img {
	margin-right: 8px;
	transform: rotate(0deg);
	transition: transform 0.35s;
}

.accordion-btn img:not(.accordion-btn.collapsed img) {
	transform: rotate(90deg);
}

.accordion-body {
	padding: 15px 15px 0 15px;
	font-size: 16px;
	color: #646464;
}

.faqLink {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	transition: opacity 0.3s ease;
	color: #1d7a8c;
	text-decoration: none !important;
}

.faqLink:hover {
	color: #1890ca;
	opacity: 0.7;
}

@media (max-width: 767px) {
	.nav {
		margin-bottom: 70px;
	}

	.tabTitles {
		display: none;
	}

	.nav > div.active .tabTitles {
		display: block;
		position: absolute;
		color: #646464;
		bottom: calc(-30px - 30px);
		left: 0;
		font-size: 20px;
		font-weight: bold;
		text-align: left;
		width: calc(100vw - 1.5rem);
		border-bottom: 1px solid #dcdcdc;
		padding-bottom: 2px;
		cursor: text;
	}

	.checkAvailabilityBtn {
		width: auto !important;
	}
}

@media (min-width: 991px) {
	.col-lg-2point4 {
		flex: 0 0 auto;
		width: 20%;
	}
}

@media (min-width: 767px) {
	.summaryContainerRow {
		z-index: 10;
	}

	#paymentSummaryModal {
		display: block !important;
		position: static;
		opacity: 1 !important;
		overflow: visible !important;
	}

	#paymentSummaryModal .modal-dialog {
		transform: none !important;
		margin: 0 !important;
	}
}
