nav {
	background: transparent !important;
	transition: background 0.5s;
}

nav.bg-grey {
	background: #646464 !important;
}

.navItem a:not(.navSm .navItem a),
.navItem button:not(.navSm .navItem button) {
	background: transparent;
}

.logoDiv a img {
	transition: width 0.5s, height 0.5s;
	height: 130px;
	width: 175px;
}

nav.bg-grey {
	background: #646464 !important;
}

nav.bg-grey .navItem a:hover,
nav.bg-grey .navItem button:hover,
nav.bg-grey .navItem.highlight a,
nav.bg-grey .navItem.highlight button {
	background: #006072;
}

.bg-grey .logoDiv a img {
	width: 106px;
	height: 78px;
}
#loginModal .modal-content,
#forgetPasswordModal .modal-content {
	max-width: 358px;
	padding: 25px;
}

#loginModal .modal-header .modal-title,
#forgetPasswordModal .modal-header .modal-title {
	font-size: 24px;
	font-weight: bold;
	color: #646464 !important;
}

.loginModalForm > input,
.forgetPasswordModalForm input {
	font-size: 16px;
	color: #646464;
	padding: 12px 15px;
	box-shadow: none !important;
	border: 1px solid #dedddd;
	height: 46px;
}

.loginModalForm > input:focus,
.forgetPasswordModalForm input:focus {
	border-color: #1d798c;
}

.loginErrorToast {
	color: #842029 !important;
	background-color: #f8d7da !important;
	border-color: #f5c2c7 !important;
}

.forgetPasswordModalForm button,
.loginModalForm button[type="submit"] {
	background: #1d7a8c !important;
	font-size: 18px;
	padding: 7px 30px;
	font-weight: bold;
}

.forgetPasswordModalForm button[disabled],
.loginModalForm button[disabled] {
	opacity: 0.65;
	cursor: not-allowed;
}

.modal a {
	text-decoration: none;
	color: #1d798c;
	transition: color 0.25s;
}

.modal a img {
	transition: transform 0.25s;
}

.modal a:hover img {
	transform: translateX(-6px) rotate(180deg) !important;
}

.modal a:hover {
	color: #0d3841;
}

.loginModalForm > input[type="email"],
.forgetPasswordModalForm input {
	background: url("../images/user.png") no-repeat center right 0.6em;
}
.loginModalForm > input[type="password"] {
	background: url("../images/password.png") no-repeat center right 0.6em;
}

.form-check-input {
	box-shadow: none !important;
}

.form-check-input:focus[type="checkbox"] {
	border-color: #1d798c !important;
}

.form-check-input:checked[type="checkbox"] {
	border-color: #1d798c !important;
	background-color: #1d798c;
}

.backgroundImage {
	height: 150vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
	width: 100%;
	max-width: 100vw;
	object-fit: cover;
	visibility: visible;
	pointer-events: none;
}

.backgroundImage img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

header {
	padding-top: 175px;
}

.arrowBottom {
	margin: 0 7px;
}

#languageChanger,
.languageFlag {
	cursor: pointer;
}

#languageChanger {
	margin-top: 7px;
}

.crouselImage {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: url("../images/group-35.png") center center;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	max-width: 100vw;
	z-index: -10;
}
.topCrousel {
	min-height: calc(100vh - 140px);
	z-index: -1;
}

.scrollDown {
	height: 40px;
	width: 40px;
	margin: 0 auto;
	margin-bottom: 33px;
	cursor: pointer;
	transition: background 0.5s;
	border-radius: 50%;
}
.scrollDown svg {
	position: absolute;
}

.scrollDown:hover {
	background: #006072;
}

.crouselInfo {
	padding-top: 190px;
	margin: 0 55px;
}

.crouselHeader {
	font-size: 50px;
	margin-bottom: 16px;
}

.crouselInfoItem {
	margin-top: 12px;
}

.crouselInfoItem span {
	margin-left: 13px;
	font-size: 16px;
}

.bookCleaner a {
	text-decoration: none;
	text-align: center;
	line-height: 24px;
	display: block;
	padding: 10px 25px;
	border: 1px solid #fff;
	background: rgba(0, 96, 114, 0.6);
	color: #fff;
	margin: auto;
	margin-top: 16px;
	transition: background 0.4s, color 0.4s;
}

.bookCleaner a:hover {
	background: #fff;
	color: rgba(0, 96, 114);
}

.steps {
	margin-top: 163px;
	margin-bottom: 43px;
}

.step svg,
.step img {
	margin-bottom: 20px;
}

.stepArrow {
	margin: 0 40px;
	margin-top: 19px;
	align-self: flex-start;
}

.stepArrow.invert svg {
	transform: rotateX(180deg);
}

.stepText {
	font-size: 20px;
}

.whyheader {
	padding-top: 87px;
	margin-bottom: 85px;
	font-size: 40px;
	font-weight: bold;
	color: #4f4f4f;
}

.whycards {
	max-width: 1102px;
	column-gap: 71px;
	row-gap: 20px;
}

.whycard {
	max-width: 320px;
	margin-bottom: 25px;
	color: #565656;
}

.whyCardHeader {
	font-size: 30px;
	font-weight: bold;
	margin: 39px 0;
}

.whyCardImage img {
	transition: transform 0.65s;
	height: auto;
	max-width: 100%;
}

.whycard:hover img {
	transform: scale(1.1);
}

.whyCardText {
	font-size: 17px;
}

.info {
	padding-top: 156px;
}

.info .row {
	max-width: 1161px;
	margin: auto;
}

.rightInfo {
	color: #4f4f4f;
}

.threeImages {
	transform-style: preserve-3d;
	transform: perspective(500px) scale(0.9);
	width: 403px;
	max-width: 403px;
	height: 336px;
	position: relative;
}

.threeImages .smallScreenImage {
	display: none;
}

.threeImages img {
	position: absolute;
}

.threeImages img:nth-child(1) {
	transform: translateZ(0px);
	top: 44px;
	left: 0;
	z-index: 0;
}

.threeImages img:nth-child(2) {
	transform: translateZ(30px);
	top: 0;
	left: 216px;
	z-index: 0;
}

.threeImages img:nth-child(3) {
	transform: translateZ(60px);
	bottom: 0;
	left: 202px;
	z-index: -1;
}

.rightInfoHeader {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 18px;
}

.rightInfoText {
	font-size: 17px;
	margin-bottom: 10px;
}

.blogHeader {
	color: #4f4f4f;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 64px;
}

.blogCards {
	max-width: 1161px;
	gap: 45px;
}

.blogCard {
	max-width: 357px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	overflow: hidden;
	padding-bottom: 26px;
	transition: box-shadow 0.35s;
}

.blogCard:hover {
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.blogCardHeader,
.blogCardText,
.blogDate,
.blogReadMore {
	padding: 0 20px;
}

.blogCardHeader {
	margin-top: 16px;
	font-size: 20px;
	font-weight: bold;
	color: #3d4046;
}

.blogDate {
	font-size: 13px;
	color: #a3a3a3;
}

.blogCardText {
	color: #565656;
	font-size: 16px;
	margin-top: 12px;
	margin-bottom: 18px;
}

.customerFeedbackCards {
	max-width: 1158px;
	gap: 43px;
}

.blogReadMore,
.customerFeedbackReadMore {
	display: block;
	font-size: 18px;
	text-decoration: none;
	color: #4f4f4f !important;
	font-size: 17px;
}

.blogReadMore img,
.customerFeedbackReadMore img {
	transition: transform 0.4s;
}

.blogReadMore:hover img,
.customerFeedbackReadMore:hover img {
	transform: translateX(10px);
}

.blogReadMore span,
.customerFeedbackReadMore span {
	margin-right: 11px;
}

.messageBot {
	position: fixed;
	bottom: 70px;
	right: 71px;
}

#scrollToTop {
	position: fixed;
	bottom: 70px;
	left: 70px;
	height: 48px;
	width: 48px;
	background: #525252;
	outline: none;
	border: none;
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.5s, background 0.5s;
}

#scrollToTop:hover {
	background: #006072;
}

.hidden {
	opacity: 0 !important;
	pointer-events: none !important;
	overflow: hidden !important;
	padding: 0 !important;
	margin: 0 !important;
}

.customerFeedback {
	background: #f4f5f8;
	padding-top: 65px;
	padding-bottom: 53px;
}

.customerFeedbackHeader {
	font-size: 40px;
	font-weight: bold;
	color: #4f4f4f;
	margin-bottom: 43px;
}

.customerFeedbackCard {
	position: relative;
	padding: 43px 27px 36px 38px;
	max-width: 357px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	border-left: 3px solid #1d7a8c;
	border-radius: 3px;
}

.customerFeedbackCardHeader img {
	margin-right: 17px;
}
.customerFeedbackCardHeader {
	margin-bottom: 25px;
}

.customerFeedbackCardText .customerFeedbackPara {
	margin-bottom: 15px;
	font-size: 16px;
	color: #565656;
}

.customerName {
	font-size: 20px;
	color: #4f4f4f;
	font-weight: bold;
}
.customerAddress {
	font-size: 14px;
	color: #8e8e8e;
	font-weight: bold;
}

.customerFeedbackCard svg {
	position: absolute;
	top: 20px;
	right: 20px;
}

.cookieConsent {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 12px 15px;
	transition: opacity 0.5s, height 0.5s;
	background: #292929;
}

.cookieConsent.atBottom {
	position: static !important;
}

.cookieConsentText {
	font-size: 16px;
	color: #f1f1f1;
}
.cookieConsentText a {
	text-decoration: none;
	color: #6eabef;
}

.cookieAgree {
	font-weight: 500;
	width: 100px;
	height: 40px;
	outline: none;
	border: none;
	padding: 10px 37px;
	background: #eed507;
	font-size: 16px;
}

@media screen and (max-width: 992px) {
	.threeImages {
		margin-bottom: 25px;
	}

	.rightInfo {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
}

@media screen and (max-width: 991px) {
	.backgroundImage {
		height: 300vh;
	}

	.steps {
		flex-direction: column;
	}

	.step {
		margin: 15px 20px;
	}

	.stepArrow {
		display: none;
	}
}

@media screen and (max-width: 576px) {
	.crouselHeader {
		font-size: 40px;
	}

	.info {
		margin-top: 0px !important;
		overflow: hidden;
	}

	.blogCard {
		width: 90vw;
	}

	.blogHeader {
		margin-bottom: 20px !important;
	}

	.customerFeedbackCard {
		padding: 20px 15px;
	}

	.customerFeedbackCard svg {
		top: 5px;
		right: 5px;
	}

	.threeImages img {
		display: none;
	}

	.threeImages {
		height: initial;
		display: block;
		max-width: 95vw;
		justify-content: center;
	}

	.threeImages .smallScreenImage {
		position: static;
		display: block !important;
		max-width: 95%;
		height: auto;
	}

	#scrollToTop {
		bottom: 30px;
		left: 30px;
	}

	.messageBot {
		bottom: 30px;
		right: 30px;
	}

	.crouselInfo {
		margin: 0 20px;
		padding-top: 20px;
	}

	.whyheader {
		margin: 20px 0;
	}

	.whycard,
	.blogCard {
		margin-left: 0;
		margin-right: 0;
	}

	.send {
		margin-top: 10px;
	}
}
