@{
	ViewBag.PageTitle = "Prices & Services";
}
@section CustomCss
{
<link rel="stylesheet" href="~/css/prices.css" />
}
<section class="pricesCarousel">
	<img src="~/images/pricesTop.png" alt="pricesHeaderImage" />
</section>
<section class="pricesHeader container">
	<div class="pricesHeaderText text-center">Prices</div>
	<div class="pricesHeaderDecoration w-100 d-flex align-items-center justify-content-center">
		<span></span>
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25">
			<path fill-rule="evenodd" fill="#1D7A8C"
				d="M22.93 13.616c.575 0 1.068-.481 1.068-1.122 0-.56-.493-1.041-1.068-1.041-.987 0-9.26-.321-9.26-10.053 0-.921-1.096-1.3-1.671-1.3-.576 0-1.069.379-1.069 1.3 0 9.732-8.39 10.053-9.26 10.053H.985c-.575.08-.985.481-.985 1.041 0 1.056.492 1.041 1.67 1.041.466 0 9.26.321 9.26 10.414 0 .56.493 1.041 1.069 1.041.493.71.986-.401.986-.71 0-10.344 8.876-10.664 9.863-10.664h.082z" />
		</svg>
		<span></span>
	</div>
	<div class="priceCard">
		<div class="priceCardHeader text-center">One Time</div>
		<div class="priceCardText d-flex align-items-center justify-content-center">20</div>
		<div class="priceCardDescription row g-2">
			<div class="priceCardDescriptionItem col-11 col-sm-8 col-md-7">
				<img src="~/images/tickRight.svg" alt="tickMark" /> Lower prices
			</div>
			<div class="priceCardDescriptionItem col-11 col-sm-8 col-md-7">
				<img src="~/images/tickRight.svg" alt="tickMark" /> Easy online & secure payment
			</div>
			<div class="priceCardDescriptionItem col-11 col-sm-8 col-md-7">
				<img src="~/images/tickRight.svg" alt="tickMark" /> Easy amendment
			</div>
		</div>
	</div>
	<hr class="w-100" />
</section>

<section class="extraServices container">
	<div class="pricesHeaderText text-center ourStory">Extra services</div>
	<div class="pricesHeaderDecoration w-100 d-flex align-items-center justify-content-center">
		<span></span>
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25">
			<path fill-rule="evenodd" fill="#1D7A8C"
				d="M22.93 13.616c.575 0 1.068-.481 1.068-1.122 0-.56-.493-1.041-1.068-1.041-.987 0-9.26-.321-9.26-10.053 0-.921-1.096-1.3-1.671-1.3-.576 0-1.069.379-1.069 1.3 0 9.732-8.39 10.053-9.26 10.053H.985c-.575.08-.985.481-.985 1.041 0 1.056.492 1.041 1.67 1.041.466 0 9.26.321 9.26 10.414 0 .56.493 1.041 1.069 1.041.493.71.986-.401.986-.71 0-10.344 8.876-10.664 9.863-10.664h.082z" />
		</svg>
		<span></span>
	</div>
	<div class="services d-flex flex-wrap align-items-center justify-content-center">
		<div class="service">
			<div class="serviceImage circle rounded-circle d-flex align-items-center justify-content-center">
				<img src="~/images/InsideCabinets.svg" alt="InsideCabinets" />
			</div>
			<div class="serviceText text-center">Inside Cabinets</div>
			<div class="serviceTime text-center">30 minutes</div>
		</div>
		<div class="service">
			<div class="serviceImage rounded-circle d-flex align-items-center justify-content-center">
				<img src="~/images/InsideFridge.svg" alt="InsideFridge" />
			</div>
			<div class="serviceText text-center">Inside Fridge</div>
			<div class="serviceTime text-center">30 minutes</div>
		</div>
		<div class="service">
			<div class="serviceImage rounded-circle d-flex align-items-center justify-content-center">
				<img src="~/images/InsideOven.svg" alt="InsideOven" />
			</div>
			<div class="serviceText text-center">Inside Oven</div>
			<div class="serviceTime text-center">30 minutes</div>
		</div>
		<div class="service">
			<div class="serviceImage rounded-circle d-flex align-items-center justify-content-center">
				<img src="~/images/LaundryWash&dry.svg" alt="LaundryWash" />
			</div>
			<div class="serviceText text-center">Laundry Wash & Dry</div>
			<div class="serviceTime text-center">30 minutes</div>
		</div>
		<div class="service">
			<div class="serviceImage rounded-circle d-flex align-items-center justify-content-center">
				<img src="~/images/Interiorwindows.svg" alt="Interiorwindows" />
			</div>
			<div class="serviceText text-center">Interior Windows</div>
			<div class="serviceTime text-center">30 minutes</div>
		</div>
	</div>
</section>

<section class="cleaningServices container-fluid">
	<div class="cleaningServicesHeader">
		<div class="cleaningServicesHeaderText text-center ourStory">What we include in cleaning</div>
		<div class="cleaningServicesHeaderDecoration w-100 d-flex align-items-center justify-content-center">
			<span></span>
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25">
				<path fill-rule="evenodd" fill="#1D7A8C"
					d="M22.93 13.616c.575 0 1.068-.481 1.068-1.122 0-.56-.493-1.041-1.068-1.041-.987 0-9.26-.321-9.26-10.053 0-.921-1.096-1.3-1.671-1.3-.576 0-1.069.379-1.069 1.3 0 9.732-8.39 10.053-9.26 10.053H.985c-.575.08-.985.481-.985 1.041 0 1.056.492 1.041 1.67 1.041.466 0 9.26.321 9.26 10.414 0 .56.493 1.041 1.069 1.041.493.71.986-.401.986-.71 0-10.344 8.876-10.664 9.863-10.664h.082z" />
			</svg>
			<span></span>
		</div>
	</div>
	<div class="container">
		<div class="cleaningServicesCards d-flex align-items-start justify-content-center flex-wrap">
			<div class="cleaningServicesCard">
				<img src="~/images/bedroom.png" alt="Bedroom" />
				<div class="cleaningServicesCardHeader">Bedroom and Living Room</div>
				<div class="cleaningServicesCardsDescription p-0 m-0">
					<div class="cleaningServicesCardsDescriptionItem">
						<img src="~/images/vector-smart-object-copy.png" alt="tickMark" />Dust all accessible
						surfaces
					</div>
					<div class="cleaningServicesCardsDescriptionItem">
						<img src="~/images/vector-smart-object-copy.png" alt="tickMark" />Wipe down all mirrors and
						glass fixtures
					</div>
					<div class="cleaningServicesCardsDescriptionItem">
						<img src="~/images/vector-smart-object-copy.png" alt="tickMark" />Clean all floor surfaces
					</div>
					<div class="cleaningServicesCardsDescriptionItem">
						<img src="~/images/vector-smart-object-copy.png" alt="tickMark" />Take out garbage and
						recycling
					</div>
				</div>
			</div>
			<div class="cleaningServicesCard">
				<img src="~/images/bathroom.png" alt="Bathroom" />
				<div class="cleaningServicesCardHeader">Bathrooms</div>
				<ul class="cleaningServicesCardsDescription p-0 m-0">
					<li class="cleaningServicesCardsDescriptionItem">
						<img src="~/images/vector-smart-object-copy.png" alt="tickMark" />Wash and sanitize the
						toilet, shower, tub, sink
					</li>
					<li class="cleaningServicesCardsDescriptionItem">
						<img src="~/images/vector-smart-object-copy.png" alt="tickMark" />Dust all accessible
						surfaces
					</li>
					<li class="cleaningServicesCardsDescriptionItem">
						<img src="~/images/vector-smart-object-copy.png" alt="tickMark" />Wipe down all mirrors and
						glass fixtures
					</li>
					<li class="cleaningServicesCardsDescriptionItem">
						<img src="~/images/vector-smart-object-copy.png" alt="tickMark" />Clean all floor surfaces
					</li>
					<li class="cleaningServicesCardsDescriptionItem">
						<img src="~/images/vector-smart-object-copy.png" alt="tickMark" />Take out garbage and
						recycling
					</li>
				</ul>
			</div>
			<div class="cleaningServicesCard">
				<img src="~/images/kitchen.png" alt="Kitchen" />
				<div class="cleaningServicesCardHeader">Kitchen</div>
				<ul class="cleaningServicesCardsDescription p-0 m-0">
					<li class="cleaningServicesCardsDescriptionItem">
						<img src="~/images/vector-smart-object-copy.png" alt="tickMark" />Dust all accessible
						surfaces
					</li>
					<li class="cleaningServicesCardsDescriptionItem">
						<img src="~/images/vector-smart-object-copy.png" alt="tickMark" />Empty sink and load up
						dishwasher
					</li>
					<li class="cleaningServicesCardsDescriptionItem">
						<img src="~/images/vector-smart-object-copy.png" alt="tickMark" />Wipe down exterior of
						stove, oven and fridge
					</li>
					<li class="cleaningServicesCardsDescriptionItem">
						<img src="~/images/vector-smart-object-copy.png" alt="tickMark" />Clean all floor surfaces
					</li>
					<li class="cleaningServicesCardsDescriptionItem">
						<img src="~/images/vector-smart-object-copy.png" alt="tickMark" />Take out garbage and
						recycling
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="whyHelperland container">
	<div class="whyHelperlandHeader">
		<div class="whyHelperlandHeaderText text-center ourStory">Why Helperland</div>
		<div class="whyHelperlandHeaderDecoration w-100 d-flex align-items-center justify-content-center">
			<span></span>
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25">
				<path fill-rule="evenodd" fill="#1D7A8C"
					d="M22.93 13.616c.575 0 1.068-.481 1.068-1.122 0-.56-.493-1.041-1.068-1.041-.987 0-9.26-.321-9.26-10.053 0-.921-1.096-1.3-1.671-1.3-.576 0-1.069.379-1.069 1.3 0 9.732-8.39 10.053-9.26 10.053H.985c-.575.08-.985.481-.985 1.041 0 1.056.492 1.041 1.67 1.041.466 0 9.26.321 9.26 10.414 0 .56.493 1.041 1.069 1.041.493.71.986-.401.986-.71 0-10.344 8.876-10.664 9.863-10.664h.082z" />
			</svg>
			<span></span>
		</div>
	</div>
	<div class="whyDescription d-flex align-items-start justify-content-center">
		<div>
			<div class="whyDescriptionItem">
				<div class="whyDescriptionItemHeader text-center text-sm-center text-md-center text-lg-end">
					Experienced and vetted professionals
				</div>
				<div class="whyDescriptionItemText text-center text-sm-center text-md-center text-lg-end">
					dominate the industry in scale and scope with an adaptable, extensive network that consistently
					delivers exceptional
					results.
				</div>
			</div>
			<div class="whyDescriptionItem">
				<div class="whyDescriptionItemHeader text-center text-sm-center text-md-center text-lg-end">Dedicated
					customer service</div>
				<div class="whyDescriptionItemText text-center text-sm-center text-md-center text-lg-end">
					to our customers and are guided in all we do by their needs. The team is always happy to support you
					and offer all the
					information. you need.
				</div>
			</div>
		</div>
		<img src="~/images/bestCleaningServices.png" class="bestCleaningServiceSvg" alt="BestCleaningSerices" />
		<div>
			<div class="whyDescriptionItem">
				<div class="whyDescriptionItemHeader text-center text-sm-center text-md-center text-lg-start">Every
					cleaning is insured</div>
				<div class="whyDescriptionItemText text-center text-sm-center text-md-start">
					and seek to provide exceptional service and engage in proactive behavior. We‘d be happy to clean
					your homes.
				</div>
			</div>
			<div class="whyDescriptionItem">
				<div class="whyDescriptionItemHeader text-center text-sm-center text-md-center text-lg-start">Secure
					online payment</div>
				<div class="whyDescriptionItemText text-center text-sm-center text-md-center text-lg-start">
					Payment is processed securely online. Customers pay safely online and manage the booking.
				</div>
			</div>
		</div>
	</div>
</section>

<button id="scrollToTop" class="rounded-circle hidden d-flex align-items-center justify-content-center">
	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="10">
		<path fill-rule="evenodd" fill="#F4F5F8"
			d="M19.802 8.855c.132.129.197.29.197.466a.633.633 0 0 1-.197.466c-.262.653-.689.653-.951 0l-8.365-8.195L2.12 9.787c-.262.653-.689.653-.951 0a.65.65 0 0 1 0-.932L10.1.195c.172.425.599.425.861 0l8.841 8.66z" />
	</svg>
</button>

@section CustomScripts
{
<script src="~/js/vanilla-tilt.min.js"></script>
<script>
	const scrollToTop = document.querySelector("#scrollToTop");

	const vanila = VanillaTilt.init(document.querySelector(".priceCard"), {
		max: 25,
		speed: 1000,
		glare: true,
		scale: 1.07,
		"max-glare": 0.6,
		gyroscope: false,
	});

	scrollToTop.addEventListener("click", () => window.scroll(0, 0));

	window.addEventListener("scroll", () => {
		if (window.scrollY > 30) {
			scrollToTop.classList.remove("hidden");
		} else {
			scrollToTop.classList.add("hidden");
		}
	});
</script>
}