@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif !important;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;
	width: 100%;
	transition: background 0.5s;
}

#loginModal .modal-content,
#forgetPasswordModal .modal-content {
	max-width: 358px;
	padding: 25px;
}

#loginModal .modal-header .modal-title,
#forgetPasswordModal .modal-header .modal-title {
	font-size: 24px;
	font-weight: bold;
	color: #646464 !important;
}

.loginModalForm > input,
.forgetPasswordModalForm input {
	font-size: 16px;
	color: #646464;
	padding: 12px 15px;
	box-shadow: none !important;
	border: 1px solid #dedddd;
	height: 46px;
}

.loginModalForm > input:focus,
.forgetPasswordModalForm input:focus {
	border-color: #1d798c;
}

.forgetPasswordModalForm button,
.loginModalForm button {
	background: #1d7a8c !important;
	font-size: 18px;
	padding: 7px 30px;
	font-weight: bold;
}

.forgetPasswordModalForm button[disabled],
.loginModalForm button[disabled] {
	opacity: 0.65;
	cursor: not-allowed;
}

.modal a {
	text-decoration: none;
	color: #1d798c;
	transition: color 0.25s;
}

.modal a img {
	transition: transform 0.25s;
}

.modal a:hover img {
	transform: translateX(-6px) rotate(180deg) !important;
}

.modal a:hover {
	color: #0d3841;
}

.loginModalForm > input[type="email"],
.forgetPasswordModalForm input {
	background: url("../images/user.png") no-repeat center right 0.6em;
}
.loginModalForm > input[type="password"] {
	background: url("../images/password.png") no-repeat center right 0.6em;
}

.form-check-input {
	box-shadow: none !important;
}

.form-check-input:focus[type="checkbox"] {
	border-color: #1d798c !important;
}

.form-check-input:checked[type="checkbox"] {
	border-color: #1d798c !important;
	background-color: #1d798c;
}

.backgroundImage {
	height: 150vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
	width: 100vw;
	object-fit: cover;
	visibility: visible;
	pointer-events: none;
}

.backgroundImage img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

header {
	padding-top: 175px;
	z-index: 1000;
}

.logoDiv {
	padding-top: 10px;
	padding-left: 17px;
}

.navMenu {
	margin-top: 55px;
	transition: margin-top 0.5s;
}

.navItem a {
	display: block;
	text-decoration: none;
	color: #fff;
	margin: 0 11px;
	font-size: 17px;
	padding: 8px 15px;
	border-radius: 50px;
	transition: border 0.4s, background 0.4s;
	border: 1px solid transparent;
}

.navItem.active a,
.navItem a:hover {
	border: 1px solid white;
}

.arrowBottom {
	margin: 0 7px;
}

#languageChanger,
.languageFlag {
	cursor: pointer;
}

#languageChanger {
	margin-top: 7px;
}

.tooltip-inner {
	background: #fff !important;
	color: #000 !important;
}

.tooltip-arrow::before {
	border-top-color: #fff !important;
}

.crouselImage {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: url("../images/group-35.png") center center;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	max-width: 100vw;
	z-index: -10;
}
.topCrousel {
	min-height: calc(100vh - 140px);
	z-index: -1;
}

.scrollDown {
	height: 40px;
	width: 40px;
	margin: 0 auto;
	margin-bottom: 33px;
	cursor: pointer;
	transition: background 0.5s;
	border-radius: 50%;
}
.scrollDown svg {
	position: absolute;
}

.scrollDown:hover {
	background: #006072;
}

.crouselInfo {
	padding-top: 190px;
	margin-left: 55px;
}

.crouselHeader {
	font-size: 50px;
	margin-bottom: 16px;
}

.crouselInfoItem {
	margin-top: 12px;
}

.crouselInfoItem span {
	margin-left: 13px;
	font-size: 16px;
}

.bookCleaner a {
	text-decoration: none;
	text-align: center;
	line-height: 24px;
	display: block;
	/* padding: 18px 33px 22px 31px; */
	padding: 10px 25px;
	border: 1px solid #fff;
	background: rgba(0, 96, 114, 0.6);
	color: #fff;
	margin: auto;
	margin-top: 16px;
	transition: background 0.4s, color 0.4s;
}

.bookCleaner a:hover {
	background: #fff;
	color: rgba(0, 96, 114);
}

.steps {
	margin-top: 163px;
	margin-bottom: 43px;
}

.step svg,
.step img {
	margin-bottom: 20px;
}

.stepArrow {
	margin: 0 40px;
	margin-top: 19px;
	align-self: flex-start;
}

.stepArrow.invert svg {
	transform: rotateX(180deg);
}

.stepText {
	font-size: 20px;
}

.whyheader {
	padding-top: 87px;
	margin-bottom: 85px;
	font-size: 40px;
	font-weight: bold;
}

.whycards {
	max-width: 1102px;
	column-gap: 71px;
	row-gap: 20px;
}

.whycard {
	max-width: 320px;
	margin-bottom: 25px;
}

.whyCardHeader {
	font-size: 30px;
	font-weight: bold;
	margin: 39px 0;
}

.whyCardImage img {
	transition: transform 0.65s;
	height: auto;
	max-width: 100%;
}

.whycard:hover img {
	transform: scale(1.1);
}

.whyCardText {
	font-size: 17px;
}

.info {
	margin-top: 156px;
}

.rightInfo {
	order: 1;
}

.threeImages {
	transform-style: preserve-3d;
	transform: perspective(500px) scale(0.9);
	order: 2;
	width: 403px;
	max-width: 403px;
	height: 336px;
	position: relative;
}

.threeImages .smallScreenImage {
	display: none;
}

.threeImages img {
	position: absolute;
}

.threeImages img:nth-child(1) {
	transform: translateZ(0px);
	top: 44px;
	left: 0;
	z-index: 0;
}
.threeImages img:nth-child(2) {
	transform: translateZ(30px);
	top: 0;
	left: 216px;
	z-index: 0;
}
.threeImages img:nth-child(3) {
	transform: translateZ(60px);
	bottom: 0;
	left: 202px;
	z-index: -1;
}

.rightInfoHeader {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 18px;
}

.rightInfoText {
	font-size: 17px;
	margin-bottom: 10px;
}

.blogHeader {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 64px;
}

.blogCards {
	max-width: 1161px;
	gap: 45px;
}

.blogCard {
	max-width: 357px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	overflow: hidden;
	padding-bottom: 26px;
	transition: box-shadow 0.35s;
}

.blogCard:hover {
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.blogCardHeader,
.blogCardText,
.blogDate,
.blogReadMore {
	padding: 0 20px;
}

.blogCardHeader {
	margin-top: 16px;
	font-size: 20px;
	font-weight: bold;
}

.blogDate {
	font-size: 13px;
	color: #a3a3a3;
}

.blogCardText {
	color: #565656;
	font-size: 16px;
	margin-top: 12px;
	margin-bottom: 18px;
}

.customerFeedbackCards {
	max-width: 1158px;
	gap: 43px;
}

.blogReadMore,
.customerFeedbackReadMore {
	display: block;
	font-size: 18px;
	text-decoration: none;
	color: #4f4f4f !important;
	font-size: 17px;
}

.blogReadMore img,
.customerFeedbackReadMore img {
	transition: transform 0.4s;
}
.blogReadMore:hover img,
.customerFeedbackReadMore:hover img {
	transform: translateX(10px);
}

.blogReadMore span,
.customerFeedbackReadMore span {
	margin-right: 11px;
}

.messageBot {
	position: fixed;
	bottom: 70px;
	right: 71px;
}

#scrollToTop {
	position: fixed;
	bottom: 70px;
	left: 70px;
	height: 48px;
	width: 48px;
	background: #525252;
	outline: none;
	border: none;
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.5s, background 0.5s;
}

#scrollToTop:hover {
	background: #006072;
}
.hidden {
	opacity: 0 !important;
	pointer-events: none !important;
	overflow: hidden !important;
	padding: 0 !important;
	margin: 0 !important;
}

.customerFeedback {
	background: #f4f5f8;
	padding-top: 65px;
	padding-bottom: 53px;
}

.customerFeedbackHeader {
	font-size: 40px;
	font-weight: bold;
	color: #4f4f4f;
	margin-bottom: 43px;
}

.customerFeedbackCard {
	position: relative;
	padding: 43px 27px 36px 38px;
	max-width: 357px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	border-left: 3px solid #1d7a8c;
	border-radius: 3px;
	transition: box-shadow 0.3s ease-in-out 0.3s, transform 0.3s;
}

.customerFeedbackCard:hover {
	box-shadow: 0 0 5px rgb(0 0 0 / 20%), inset 30px 0 0 #1d7a8c;
	transform: translateY(-20px);
}

.customerFeedbackCardHeader img {
	margin-right: 17px;
}
.customerFeedbackCardHeader {
	margin-bottom: 25px;
}

.customerFeedbackCardText .customerFeedbackPara {
	margin-bottom: 15px;
	font-size: 16px;
	color: #565656;
}

.customerName {
	font-size: 20px;
	color: #4f4f4f;
	font-weight: bold;
}
.customerAddress {
	font-size: 14px;
	color: #8e8e8e;
	font-weight: bold;
}

.customerFeedbackCard svg {
	position: absolute;
	top: 20px;
	right: 20px;
}

.newsletterHeader {
	font-size: 17px;
	color: #353548;
	margin-bottom: 16px;
	margin-top: 51px;
	font-weight: 500;
}

.newsletterForm input {
	outline: none;
	border: 1px solid #565656;
	padding: 11px 22px 13px;
	margin-right: 11px;
	background: transparent;
	font-size: 14px;
	max-width: 233px;
}

.newsletterForm button {
	outline: none;
	border: none;
	background: #ff7b6d;
	color: #fff;
	padding: 11px 21px 13px 23px;
	font-size: 14px;
}

.bg-grey {
	background: #646464;
}

.logoDiv a img {
	transition: width 0.5s, height 0.5s;
	height: 130px;
	width: 175px;
}

.bg-grey .logoDiv a img {
	width: 106px;
	height: 78px;
}

.bg-grey .navMenu .active a {
	background: #29626d !important;
}

footer {
	padding: 20px 123px 26px 115px;
	background: #111111;
}

.footerMenuItem a {
	display: block;
	text-decoration: none;
	color: #f1f1f1;
	margin: 0 10px;
	transition: color 0.3s;
}

.footerMenuItem:hover a {
	color: #29626d;
}

.socialMedia a {
	width: 40px;
	height: 40px;
	transition: background 0.4s;
}

.socialMedia a:hover {
	background: #29626d;
}

.cookieConsent {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 12px 15px;
	transition: opacity 0.5s;
	background: #292929;
}

.cookieConsent.atBottom {
	position: relative !important;
}

.cookieConsentText {
	font-size: 16px;
	color: #f1f1f1;
}
.cookieConsentText a {
	text-decoration: none;
	color: #6eabef;
}

.cookieAgree {
	font-weight: 500;
	width: 100px;
	height: 40px;
	outline: none;
	border: none;
	padding: 10px 37px;
	background: #eed507;
	font-size: 16px;
}

@media screen and (max-width: 992px) {
	.threeImages {
		order: 1 !important;
		margin-bottom: 25px;
	}

	.rightInfo {
		order: 2 !important;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
}

@media screen and (max-width: 1200px) {
	nav {
		flex-direction: column;
		justify-content: center;
	}
	.logoDiv {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.navMenu {
		overflow: hidden;
		height: 0;
		padding-left: 17px;
		background: #646464;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 20px;
		transition: height 0.5s;
		pointer-events: none;
	}

	.navMenu.open {
		height: 409px;
		pointer-events: all;
	}

	.navItem a,
	.navMenu .dropdown {
		margin: 5px 0;
	}
	.navMenu .dropdown {
		margin-left: 10px;
	}

	.hamburger {
		position: relative;
		height: 45px;
		width: 45px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.hamburger::before {
		content: "";
		position: absolute;
		width: 45px;
		height: 5px;
		background-color: #fff;
		transform: translateY(-15px);
		box-shadow: 0 15px #fff;
		transition: all 0.3s;
	}

	.hamburger::after {
		content: "";
		position: absolute;
		width: 45px;
		height: 5px;
		background-color: #fff;
		transform: translateY(15px);
		transition: all 0.3s;
	}

	.hamburger.open::before {
		transform: translateY(0) rotate(45deg);
		box-shadow: none;
	}

	.hamburger.open::after {
		transform: translateY(0) rotate(-45deg);
	}
}

@media screen and (max-width: 1050px) {
	footer {
		padding: 25px;
		justify-content: space-evenly !important;
	}

	.backgroundImage {
		height: 300vh;
	}

	.footerMenu {
		flex-direction: column;
	}

	.footerMenuItem {
		margin-bottom: 10px;
	}

	.steps {
		flex-direction: column;
	}

	.step {
		margin: 15px 20px;
	}

	.stepArrow {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.info {
		margin-top: 0px !important;
		overflow: hidden;
	}

	.blogCard {
		width: 90vw;
	}

	.blogHeader {
		margin-bottom: 20px !important;
	}

	.customerFeedbackCard {
		padding: 20px 15px;
	}

	.customerFeedbackCard:hover {
		box-shadow: 0 0 5px rgb(0 0 0 / 20%), inset 14px 0 0 #1d7a8c;
	}

	.customerFeedbackCard svg {
		top: 5px;
		right: 5px;
	}

	footer {
		flex-direction: column;
	}

	.footerLogo {
		margin-bottom: 15px;
	}

	.footerMenu {
		margin: 15px 0;
	}

	.threeImages img {
		display: none;
	}

	.threeImages {
		height: initial;
		display: block;
		max-width: 95vw;
		justify-content: center;
	}

	.threeImages .smallScreenImage {
		position: static;
		display: block !important;
		max-width: 95%;
		height: auto;
	}

	#scrollToTop {
		bottom: 30px;
		left: 30px;
	}

	.messageBot {
		bottom: 30px;
		right: 30px;
	}

	.crouselInfo {
		margin-left: 20px;
		padding-top: 20px;
	}

	.whyheader {
		margin: 20px 0;
	}

	.whycard,
	.blogCard {
		margin-left: 0;
		margin-right: 0;
		/* transform: scale(0.85); */
	}

	.newsletterForm {
		flex-direction: column;
	}

	.newsletterForm input {
		margin-right: 0;
		width: 100%;
	}

	.send {
		margin-top: 10px;
	}
}
