@{
	ViewBag.PageTitle = "Access Denied";
}

<div class="mt-5 container-fluid d-flex flex-column align-items-center justify-content-center">
	<img class="accessDeniedKeysImage" src="~/images/AccessDenied.png" asp-append-version="true" />
	<h1 class="display-3 mt-3 fw-bold text-center">403 - Access Denied !</h1>
	<h3 class="text-center mt-2">You do not have access to this area of the application.</h3>
</div>