@model ResetPasswordViewModel;
@{
	ViewBag.PageTitle = "Reset Password";
}
@section CustomCss
{
<link rel="stylesheet" href="~/css/contact.css">
}
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header p-0 flex-column align-items-center justify-content-center border-0">
				<img class="rounded-circle my-4" src="~/images/closeBtn.png" asp-append-version="true">
				<h5 class="modal-title" id="errorModalLabel"></h5>
			</div>
			<div class="modal-footer p-0 my-3 border-0 align-items-center justify-content-center">
				<button type="button" class="text-white rounded-pill py-2 px-4 border-0" data-bs-dismiss="modal">OK
					!</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header p-0 flex-column align-items-center justify-content-center border-0">
				<img class="rounded-circle my-4" src="~/images/tickBig.png" asp-append-version="true">
				<h5 class="modal-title" id="successModalLabel">Form Submitted Succesfully</h5>
			</div>
			<div class="modal-footer p-0 my-3 border-0 align-items-center justify-content-center">
				<button type="button" class="text-white rounded-pill py-2 px-4 border-0" data-bs-dismiss="modal">OK
					!</button>
			</div>
		</div>
	</div>
</div>
<div class="contactUsHeaderText text-center">
	Reset Password
</div>
<div class="contactUsHeaderDecoration w-100 d-flex align-items-center justify-content-center">
	<span></span>
	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25">
		<path fill-rule="evenodd" fill="#1D7A8C"
			d="M22.93 13.616c.575 0 1.068-.481 1.068-1.122 0-.56-.493-1.041-1.068-1.041-.987 0-9.26-.321-9.26-10.053 0-.921-1.096-1.3-1.671-1.3-.576 0-1.069.379-1.069 1.3 0 9.732-8.39 10.053-9.26 10.053H.985c-.575.08-.985.481-.985 1.041 0 1.056.492 1.041 1.67 1.041.466 0 9.26.321 9.26 10.414 0 .56.493 1.041 1.069 1.041.493.71.986-.401.986-.71 0-10.344 8.876-10.664 9.863-10.664h.082z">
		</path>
	</svg>
	<span></span>
</div>
<div class="resetPasswordForm container">
	<form method="post">
		<input type="password" asp-for="Password" class="form-control" placeholder="Enter Password">
		<span class="text-danger d-block mt-1 mb-2 px-2" asp-validation-for="Password"></span>
		<input type="password" asp-for="CPassword" class="form-control" placeholder="Enter Confirm Password">
		<span class="text-danger d-block mt-1 mb-2 px-2" asp-validation-for="CPassword"></span>
		<button class="submit rounded-pill mx-auto mb-0 d-block border-0 outline-0">Reset</button>
	</form>
</div>

@section CustomScripts
{
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
	integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"
	integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
	const errorModal = new bootstrap.Modal(document.querySelector("#errorModal"));
	const successModal = new bootstrap.Modal(document.querySelector("#successModal"));
	let cookiesString = document.cookie;
	let cookiesArr = cookiesString.split(";");
	let cookies = [];
	if (cookiesArr.length > 0) {
		cookiesArr.forEach((coo) => {
			cookies.push({ key: decodeURI(coo.split("=")[0].trim()), value: decodeURI(coo.split("=")[1].trim()) });
		});
		const successIndex = cookies.findIndex((c) => c.key === "isSuccessModalOpen");
		if (successIndex >= 0 && cookies[successIndex].value === "true") {
			successModal.show();
			document.querySelector("#successModalLabel").innerHTML = cookies[cookies.findIndex((c) => c.key === "isSuccessModalContent")].value;
			document.cookie = "isSuccessModalOpen=false; path=/";
		}
		const errorIndex = cookies.findIndex((c) => c.key === "isErrorModalOpen");
		if (errorIndex >= 0 && cookies[errorIndex].value === "true") {
			errorModal.show();
			document.querySelector("#errorModalLabel").innerHTML = cookies[cookies.findIndex((c) => c.key === "errorModalContent")].value;
			document.cookie = "isErrorModalOpen=false; path=/";
		}
	}
</script>
}